{% extends "base.html" %}
{% block entire_body %}
<h1>Password change</h1>
{% if form %}
<form id="user_login_form" action="{% url 'chpasswd' %}" method="POST">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
    {% else %}
        <input type="hidden" name="next" value="/" />
    {% endif %}
    <input type="submit" value="Change it" />
</form>
{% else %}
Your password has been changed.
{% endif %}
{% endblock %}
