.difftable {
    border-collapse: collapse;
    border: solid 1px gray;
    font-family: Consolas, Ubuntu Mono, monospace;
}

.difftable pre {
    font-family: Consolas, Ubuntu Mono, monospace;
    margin-bottom:0;
    margin-top:0;
}

.difftable th {
    border: solid 1px gray;
}

.difftable td.line{
    padding-left: 6px;
    background-color: white;
    vertical-align: middle;
}

.difftable td.lno {
    border: solid 1px gray;
    text-align: right;
    vertical-align: top;
}

.comment {
    z-index: 25;
    margin: 3px;
    margin-left: 30px;
    border: solid 1px #888800;
    background-color: #ffffbb;

    -webkit-box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 4px rgba(50, 50, 50, 0.75);
}
.comment-title {
    border-bottom: gray;
}

.comment-body {
    padding: 3px;
    margin-left: 1em;
    background-color: #ffffff;
}
.comment-date a {
    color: inherit;
    text-decoration: none;
}
.comment-date a:hover {
    text-decoration: underline;
}

.comment-body textarea {
    width: 90%;
    min-height: 2em;
    background: transparent;
    border: dotted 1px #888888;
}

.ajax_comment_container {
}

.ajax_comment_container_error {
    background-color: #ffaaaa;
    border: solid 1px red;
    margin-left: 30px;
    border-radius: 5px;
    padding: 4px;
    color: #880000;
}

.ajax_comment_container_loading {
    background-color: #ffffaa;
    border: solid 1px yellow;
    margin-left: 30px;
    border-radius: 5px;
    padding: 4px;
    color: #888800;
}

.fixed_bar_dull {
    display: inline-block;
    width: 8em;
    color: #aaaaaa;
    text-align: right;
}

.save-status {
    display: inline-block;
    width: 2em;
    color: #ff8800;
}
.del-comment {
    display: inline-block;
    width: 8em;
}
.reply-to-comment {
    display: inline-block;
    width: 8em;
}
.user-name {
    display: inline-block;
    width: 10em;
    text-decoration: italic;
}

.my-own-comment .user-name {
    font-weight: bold;
}
.my-own-comment {
    background-color: #E9FF89 !important;
}

a.commit-anchor {
    color: #444488;
}
a.commit-anchor:hover {
    color: #000088;
}

a.diff-anchor {
    color: #448844;
}
a.diff-anchor:hover {
    color: #008800;
}

a.line-anchor {
    text-decoration: none;
    color: inherit;
}
a.line-anchor:hover {
    text-decoration: underline;
    color: blue;
}

a.fixed_link {
    color: white;
    text-decoration: none;
}
a.fixed_link:hover {
    color: white;
    text-decoration: underline;
}

td.lno {
    cursor: pointer;
}

#horizontal_highlighter {
    z-index: 50;
    position: absolute;
    height: 20px;
    border-radius: 10px;
    right: 0px;
    display: none;
    border: solid 1px #0000ff;
    background-color: #88ffff;
    margin-right: 0.5em;
    margin-left: 1em;
    pointer-events: none;
    left: 0px;
    opacity: 0.5;
}

#rowspan_reticle {
    z-index: 20;
    position: absolute;
    display: none;
    pointer-events: none;
    left: 0px;

    background: #ffeeaa;
    border: 1px solid #ffcc00;
    opacity: 0.5;
}

.toc_comment_user {
    display: inline-block;
    min-width: 10em;
    text-decoration: italic;
}
.toc_comment_my_own {
    font-weight: bold;
}
.toc_link {
    color: #888888;
    text-decoration: none;
    border-bottom: dashed 1px #888888;
}
.toc_link:hover {
    color: #888888;
    text-decoration: none;
    border-bottom: solid 1px #888888;
}

.trac_link {
    color: #BB0000;
    text-decoration: none;
    border-bottom: dashed 1px #BB0000;
}
.trac_link:hover {
    color: #BB0000;
    text-decoration: none;
    border-bottom: solid 1px #BB0000;
}

a.jslink {
    color: blue;
    text-decoration: none;
}
a.jslink:hover {
    color: blue;
    text-decoration: underline;
}

#exported_comments {
    width: 80em;
    border: dashed 1px black;
}
