{% extends "base.html" %}
{% block entire_body %}
<style>
    .difftable {
        border-collapse: collapse;
        border: solid 1px gray;
        font-family: Consolas, Ubuntu Mono, monospace;
        font-size: 13px;
    }

    .difftable pre {
        font-family: Consolas, Ubuntu Mono, monospace;
        font-size: 13px;
        margin-bottom:0;
        margin-top:0;
    }

    .difftable th {
        border: solid 1px gray;
    }

    .difftable td.line{
        padding-left: 6px;
        background-color: white;
        vertical-align: middle;
    }

    .difftable td.lno {
        border: solid 1px gray;
        text-align: right;
        vertical-align: top;
    }

    .comment {
        margin: 3px;
        margin-left: 30px;
        border: solid 1px #888800;
        background-color: #ffff88;
    }
    .comment-title {
        border-bottom: gray;
        background-color: #ffffbb;
    }
    .comment-body {
        padding: 3px;
    }

    .fixed_bar_dull {
        display: inline-block;
        width: 8em;
        color: #aaaaaa;
        text-align: right;
    }
</style>
<script type="text/javascript">
$(function () {
    var MINIMAL_PX_OFFSET_TO_CONSIDER_HEADER_CURRENT = 100;
    /* фиксируем наверху названия текущих коммита и файла */
    $(window).scroll(function () {
        var current_h3 = "", current_h4 = "";
        $('h3.commit').each(function() {
            var offtop = $(this).viewportOffset().top;
            if (offtop < MINIMAL_PX_OFFSET_TO_CONSIDER_HEADER_CURRENT) { current_h3 = $(this).text(); }
        });
        $('h4.diff').each(function() {
            var offtop = $(this).viewportOffset().top;
            if (offtop < MINIMAL_PX_OFFSET_TO_CONSIDER_HEADER_CURRENT) { current_h4 = $(this).text(); }
        });
        $('#current_h3_fixed').text(current_h3);
        $('#current_h4_fixed').text(current_h4);
    });
});
</script>

<div id="top_fixed_bar"></div>
<div id="subtop_fixed_bar">
    <div class="fixed_bar_dull">Коммит:</div>
    <span id="current_h3_fixed"></span>
</div>
<div id="subsubtop_fixed_bar">
    <div class="fixed_bar_dull">Файл:</div>
    <span id="current_h4_fixed"></span>
</div>

{{ commit_sequence_html|safe }}
{% endblock %}
