{% extends "base.html" %}
{% block entire_body %}
<style>
    .difftable {
        border-collapse: collapse;
        border: solid 1px gray;
        font-family: Consolas, Ubuntu Mono, monospace;
        font-size: 13px;
    }

    .difftable pre {
        font-family: Consolas, Ubuntu Mono, monospace;
        font-size: 13px;
        margin-bottom:0;
        margin-top:0;
    }

    .difftable th {
        border: solid 1px gray;
    }

    .difftable td.line{
        padding-left: 6px;
        background-color: white;
        vertical-align: middle;
    }

    .difftable td.lno {
        border: solid 1px gray;
        text-align: right;
        vertical-align: top;
    }

    .comment {
        margin: 3px;
        margin-left: 30px;
        border: solid 1px #888800;
        background-color: #ffff88;
    }
    .comment-title {
        border-bottom: gray;
        background-color: #ffffbb;
    }
    .comment-body {
        padding: 3px;
    }

    .fixed_bar_dull {
        display: inline-block;
        width: 8em;
        color: #aaaaaa;
        text-align: right;
    }

    a.commit-anchor {
        color: #444488;
    }
    a.commit-anchor:hover {
        color: #000088;
    }

    a.diff-anchor {
        color: #448844;
    }
    a.diff-anchor:hover {
        color: #008800;
    }

    a.line-anchor {
        text-decoration: none;
        color: inherit;
    }
    a.line-anchor:hover {
        text-decoration: underline;
        color: blue;
    }

    a.fixed_link {
        color: white;
        text-decoration: none;
    }
    a.fixed_link:hover {
        color: white;
        text-decoration: underline;
    }

    #horizontal_highlighter {
        position: absolute;
        height: 20px;
        width: 100%;
        display: none;
        background-color: yellow;
        pointer-events: none;
        left: 0px;
        opacity: 0.5;
    }
</style>
<script type="text/javascript">
function scroll_to_center_element_in_window(el) {
    var windowHeight = $(window).height();
    var elementHeight = el.height();

    var elementPosition = el.position();
    var elementTop = elementPosition.top;

    var toScroll = (windowHeight / 2) - (elementHeight / 2);

    window.scroll(0,(elementTop - toScroll));
    $('#horizontal_highlighter').css({'top': Math.round(elementTop - 1)}).show();
}

function on_click_go_to_anchor_centered(e) {
    var link = $(e.currentTarget),
        anchor_el = $(link.attr('href'));
    if (e.button != 0) return;
    e.preventDefault();

    location.href = link.attr('href');
    scroll_to_center_element_in_window(anchor_el);
}

$(function () {
    var MINIMAL_PX_OFFSET_TO_CONSIDER_HEADER_CURRENT = $(window).height() / 2;
    if (window.location.hash) {
        var anchor = $(window.location.hash);
        if (anchor) {
            setTimeout(function () {
                scroll_to_center_element_in_window(anchor);
            }, 0);
        }
    }

    /* фиксируем наверху названия текущих коммита и файла */
    $(window).scroll(function () {
        var current_h3 = null, current_h4 = null;
        $('h3.commit').each(function() {
            var offtop = $(this).viewportOffset().top;
            if (offtop < MINIMAL_PX_OFFSET_TO_CONSIDER_HEADER_CURRENT) { current_h3 = this; }
        });
        $('h4.diff').each(function() {
            var offtop = $(this).viewportOffset().top;
            if (offtop < MINIMAL_PX_OFFSET_TO_CONSIDER_HEADER_CURRENT) { current_h4 = this; }
        });

        var set_fixed_link = function (link_to_set, destination_h) {
            if (!destination_h) return;
            $(link_to_set).text($('span', destination_h).text());
            $(link_to_set).attr('href', $('a', destination_h).attr('href'));
        };

        set_fixed_link('#current_h3_fixed', current_h3);
        set_fixed_link('#current_h4_fixed', current_h4);
    });

    $('.jumps-to-anchor').click(on_click_go_to_anchor_centered);
});
</script>


<div id="subtop_fixed_bar">
    <div class="fixed_bar_dull">Коммит:</div>
    <a id="current_h3_fixed" class="fixed_link jumps-to-anchor"></a>
</div>
<div id="subsubtop_fixed_bar">
    <div class="fixed_bar_dull">Файл:</div>
    <a id="current_h4_fixed" class="fixed_link jumps-to-anchor"></a>
</div>

<div id="horizontal_highlighter"></div>

{{ commit_sequence_html|safe }}
{% endblock %}
